Repository TheAlacrityCo/farm_link, pull requests merged in 2020-08, with the labels that each got.

#10 Add Cloud Build for CD
  .gitignore
  Dockerfile.development
  cloudbuild.yaml
  config/database.yml
  docker-compose.yml
  entrypoint_development.sh
Labels: docker, gcp :: cloud build, rails :: environment

#11 PR to `master` creates auto-deploy to staging
  cloudbuild.yaml
Labels: ci/cd, gcp :: cloud build, gcp :: cloud run, gcp :: container registry

#12 Container Build Speed and Size
  Dockerfile.slim
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  app/assets/javascripts/temp.js
  cloudbuild.yaml
  entrypoint.sh
Labels: ci/cd, docker, gcp :: cloud build, gcp :: cloud run, gcp :: container registry, refactor

#13 Gemfile :: Add fast_jsonapi and oj
  Dockerfile.slim
  Gemfile
  Gemfile.lock
Labels: gemfile

#16 Update entrypoint [gcloud] to gcloud
  cloudbuild.yaml
Labels: bug, ci/cd, gcp :: cloud build

#17 Dev
  cloudbuild.yaml
Labels: ci/cd, gcp :: cloud build, gcp :: cloud run, gcp :: container registry

#18 Cleanup :: Delete unnecessary files, comments, and Alpine packages
  .dockerignore
  .gcloudignore
  .gitignore
  Dockerfile.production
  Dockerfile.slim
  docker-compose.yml
  entrypoint_production.sh
Labels: ci/cd, docker, refactor

#19 Update Users Polymorphic Relationship
  app/models/farm.rb
  app/models/food_bank.rb
  app/models/logistics_company.rb
  app/models/user.rb
  db/migrate/20200727195545_add_employable_to_users.rb
  db/migrate/20200807012652_add_companies_to_farms_food_banks_logistics_companies.rb
  db/schema.rb
  docker-compose.yml
  entrypoint.sh
  spec/models/farm_spec.rb
  spec/models/food_bank_spec.rb
  spec/models/logistics_company_spec.rb
  spec/models/user_spec.rb
Labels: bug, model :: update, tests :: model

#20 Dev Merge
  .dockerignore
  .gcloudignore
  .gitignore
  Dockerfile.production
  Dockerfile.slim
  app/models/farm.rb
  app/models/food_bank.rb
  app/models/logistics_company.rb
  app/models/user.rb
  db/migrate/20200727195545_add_employable_to_users.rb
  db/migrate/20200807012652_add_companies_to_farms_food_banks_logistics_companies.rb
  db/schema.rb
  docker-compose.yml
  entrypoint.sh
  entrypoint_production.sh
  spec/models/farm_spec.rb
  spec/models/food_bank_spec.rb
  spec/models/logistics_company_spec.rb
  spec/models/user_spec.rb
Labels: bug, ci/cd, circleci, docker, gcp :: cloud build, gcp :: cloud run, gcp :: cloud sql, gcp :: container registry, gcp :: kms, gcp :: secrets, gemfile, model :: update, postgresql, production, rails :: environment, refactor, tests :: model

#21 Add CircleCI Badge
  README.md
Labels: README, ci/cd, circleci

#26 Add Farm CRUD
  Dockerfile.dev
  Dockerfile.development
  app/controllers/farms_controller.rb
  app/controllers/home_controller.rb
  app/controllers/visitors/resources/farms_controller.rb
  app/controllers/visitors/resources/foods_controller.rb
  app/models/farm.rb
  app/models/food_bank.rb
  app/models/logistics_company.rb
  app/models/user.rb
  app/views/farms/index.html.erb
  app/views/farms/new.html.erb
  app/views/farms/show.html.erb
  app/views/home/index.html.erb
  app/views/layouts/application.html.erb
  app/views/visitors/resources/farms/index.html.erb
  app/views/visitors/resources/farms/show.html.erb
  app/views/visitors/resources/foods/index.html.erb
  app/views/visitors/resources/foods/show.html.erb
  config/routes.rb
  db/migrate/20200807012652_add_companies_to_farms_food_banks_logistics_companies.rb
  db/migrate/20200815060201_add_user_references.rb
  db/schema.rb
  spec/factories/users.rb
  spec/features/farms/farm_new_spec.rb
  spec/models/farm_spec.rb
  spec/models/food_bank_spec.rb
  spec/models/logistics_company_spec.rb
  spec/rails_helper.rb
Labels: CRUD, docker, enhancement, gemfile, model :: update, postgresql, refactor, tests :: feature, tests :: unit, ui :: ux

#28 Add Bootstrap
  app/assets/stylesheets/carousel.css
  app/assets/stylesheets/nav_bar.css
  app/assets/stylesheets/resource_index.css
  app/controllers/foods_controller.rb
  app/views/farms/index.html.erb
  app/views/home/index.html.erb
  app/views/layouts/application.html.erb
  app/views/visitors/resources/farms/index.html.erb
  config/routes.rb
  spec/features/farms/farm_new_spec.rb
Labels: CRUD, enhancement, postgresql, refactor, tests :: feature, tests :: model, tests :: unit, ui :: ux

#30 Food Banks Index + Create
  app/controllers/food_banks_controller.rb
  app/controllers/visitors/resources/food_banks_controller.rb
  app/views/food_banks/new.html.erb
  app/views/layouts/application.html.erb
  app/views/visitors/resources/food_banks/index.html.erb
  config/routes.rb
  spec/factories/food_bank.rb
  spec/features/food_banks/index_spec.rb
  spec/features/food_banks/new_spec.rb
  spec/rails_helper.rb
Labels: CRUD, enhancement, tests :: feature

#31 Add Food CRUD
  app/controllers/foods_controller.rb
  app/controllers/visitors/resources/farms_controller.rb
  app/views/farms/index.html.erb
  app/views/farms/show.html.erb
  app/views/foods/new.html.erb
  app/views/partials/_resources_show.html.erb
  app/views/visitors/resources/farms/index.html.erb
  app/views/visitors/resources/farms/show.html.erb
  app/views/visitors/resources/foods/index.html.erb
  spec/factories/farm.rb
  spec/factories/food.rb
  spec/factories/logistics_company.rb
  spec/features/foods/food_new_spec.rb
Labels: CRUD, enhancement, postgresql, tests :: feature, ui :: ux
